.vscode/
.build/

if (isQueueBossbar) {
        vertexColor = vec4(1.0, 1.0, 1.0, alpha);

        float textureHeight = 248.0;
        float cropHeight = 31.0;

        float frames = 8.0;
        float currentFrame = mod(floor((GameTime / 4) * 24000.0 * 2.0), frames);

        int cornerIndex = gl_VertexID % 4;
        vec2 localUV = vec2(0.0);
        if (cornerIndex == 0) localUV = vec2(0.0, 0.0);
        if (cornerIndex == 1) localUV = vec2(0.0, 1.0);
        if (cornerIndex == 2) localUV = vec2(1.0, 1.0);
        if (cornerIndex == 3) localUV = vec2(1.0, 0.0);

        float pixelSizeV = 1.0 / 256.0;
        
        float cropHeightV = cropHeight * pixelSizeV;
        
        float atlasMinV = (localUV.y == 0.0) ? UV0.y : (UV0.y - (textureHeight * pixelSizeV));
        
        float frameShiftV = currentFrame * cropHeightV;
        float finalMinV = atlasMinV + frameShiftV;

        texCoord0.x = UV0.x;
        
        texCoord0.y = (localUV.y == 0.0) ? finalMinV : (finalMinV + cropHeightV);

        animationPos.y *= (cropHeight/textureHeight);
    }